%{user_cur = models.VadGingerUser.find("id is " + session.get("userId")).first();
  	userRole = user_cur.role;
  	centrumId = user_cur.centrumId;%}
 <div class="row">
  <div class="label">Gebruikersnaam</div>
  <div class="field">

      <input type="text" name="entity.userID" value="${entity?.userID}" title="Gebruikersnaam"  id="Gebruikersnaam"/>
    
  </div>
  <span class="error">${errors.forKey('entity.userID')}</span>
</div>


 <div class="row">
  <div class="label">Centrum</div>
  <div class="field">

      <select name="centrum_id" id="centrumSelect" title="Centrum">
      <option value="">(Selecteer een centrum)</option>
      %{ models.Centrums.all().fetch().sort{ it.naam }.each() { }%
      %{
      selected = false;
      if (entity?.centrumId?.id == it.id) {
      selected = true
      }
      }%
      <option value="${it?.id}"
      ${selected ? 'selected'.raw() : ''}>${it.naam}</option>
      %{ } }%
    </select>

  </div>
  <span class="error">${errors.forKey('entity.userID')}</span>
</div>


 <div class="row">
  <div class="label">Voornaam</div>
  <div class="field">
      <input type="text" name="entity.firstName" value="${entity?.firstName}" title="Voornaam"  id="Voornaam"/>
  </div>
  <span class="error">${errors.forKey('entity.firstName')}</span>
</div>
 <div class="row">
  <div class="label">Familienaam</div>
  <div class="field">
      <input type="text" name="entity.lastName" value="${entity?.lastName}" title="Familienaam"  id="Familienaam"/>
  </div>
  <span class="error">${errors.forKey('entity.lastName')}</span>
</div>
 <div class="row">
  <div class="label">Email</div>
  <div class="field">
      <input type="text" name="entity.emailAddress" value="${entity?.emailAddress}" id="emailId" title="Email" />
     <span id="emailIdSpan"></span>
  </div>
 
</div>
 <div class="row">
  <div class="label">Rol</div>
  <div class="field">
    
    
    
      <select name="entity.role">
        
          <option value="MEMBER" 
            ${(entity?.role?.name() == 'MEMBER') ? 'selected':''}>MEMBER</option>
        
            <option value="ORG_ADMIN" 
            ${(entity?.role?.name() == 'ORG_ADMIN') ? 'selected':''}>ORG_ADMIN</option>
        
        #{if userRole.compareTo(models.RoleType.SUPER_ADMIN) >= 0}
          <option value="ADMIN" 
            ${(entity?.role?.name() == 'ADMIN') ? 'selected':''}>ADMIN</option>
            #{/if}
      </select>

  </div>
  <span class="error">${errors.forKey('entity.role')}</span>
</div>


 <div class="row">
  <div class="label">Paswoord</div>
  <div class="field">
      <input name="c_password" id="password" title="Paswoord" />

      <span id="invalidPassword"></span>
  </div>
  </div>
<script>
$("form").submit(function(){
	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	var emailIdVal = $("#emailId").val();
	if(emailIdVal==''||!emailReg.test(emailIdVal)) {
		$("#emailIdSpan").text("Invalid Email Id").show();
		return false;
	} else {
		$("#emailIdSpan").hide();
		return true;
	}
	//alert($("#password").val());
	if($("#password").val().length<5) {
		$('#invalidPassword').text("Invalid Password").show();
		return false;
	}
	
	
});
</script>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>
<script type="text/javascript">
    // Select all of the forms on the page (in this case the only one)
    // and call 'validity' on the result.
    $(function() {
        $("form").validity(function() {
          $("input[type=text]").require();
          $("#centrumSelect").require();
        });
    });
</script>


