
 <div class="row">
  <div class="label">Gebruikersnaam</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.userID" value="${entity?.userID}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.userID')}</span>
</div>


 <div class="row">
  <div class="label">Voornaam</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.firstName" value="${entity?.firstName}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.firstName')}</span>
</div>


 <div class="row">
  <div class="label">Familienaam</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.lastName" value="${entity?.lastName}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.lastName')}</span>
</div>


 <div class="row">
  <div class="label">Email</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.emailAddress" value="${entity?.emailAddress}" id="emailId"/>
     <span id="emailIdSpan"></span>
  </div>
 
</div>


 <div class="row">
  <div class="label">Rol</div>
  <div class="field">
    
    
    
      <select name="entity.role">
        
          <option value="MEMBER" 
            ${(entity?.role?.name() == 'MEMBER') ? 'selected':''}>MEMBER</option>
        
          <option value="ADMIN" 
            ${(entity?.role?.name() == 'ADMIN') ? 'selected':''}>ADMIN</option>
        
      </select>

  </div>
  <span class="error">${errors.forKey('entity.role')}</span>
</div>


 <div class="row">
  <div class="label">Password</div>
  <div class="field">
      <input name="c_password" id="password"/>
      
      <span id="invalidPassword"></span>
  </div>
  </div>
<script>
$("form").submit(function(){
	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	var emailIdVal = $("#emailId").val();
	if(emailIdVal==''||!emailReg.test(emailIdVal)) {
		$("#emailIdSpan").text("Invalid Email Id").show();
		return false;
	} else {
		$("#emailIdSpan").hide();
		return true;
	}
	//alert($("#password").val());
	if($("#password").val().length<5) {
		$('#invalidPassword').text("Invalid Password").show();
		return false;
	}
	
	
});
</script>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


