#{extends 'main.html' /}

<h2>Uw wachtwoord wijzigen</h2>

<div class="form">

#{form @VadGingerUsers.changePassword(), id:'changePasswordForm'}
 <div class="row">
  <div class="label">Oud wachtwoord:</div>
  <div class="field">
      <input type="password" name="oud_password" id="oudpassword" />
       <span id="invalid_oud_password"></span>
      #{if invalidPassword}
      <span>Invalid Password</span>
      #{/if}
  </div>
  </div>
  
  <div class="row">
  <div class="label">Nieuw wachtwoord:</div>
  <div class="field">
      <input name="c_password" id="password" type="password"/>
      
      <span id="invalidPassword"></span>
  </div>
  </div>
  <div class="row">
  <div class="label">Bevestig het nieuwe wachtwoord:</div>
  <div class="field">
      <input name="conf_password" id="c_password" type="password"/>
      
      <span id="invalidPassword"></span>
  </div>
  </div>
<script>
$("form").submit(function(){
	if($("#oudpassword").val().length<5) {
		$('#invalid_oud_password').text("Invalid Password").show();
		return false;
	} else {
		$('#invalid_oud_password').hide();
		}
	if($("#password").val().length<5 || $("#password").val()!=$("#c_password").val()) {
		$('#invalidPassword').text("Password do not match").show();
		return false;
	} else {
		$('#invalidPassword').hide();
		return true;
	}
	
	
});
</script>
	<button class="submit ui-corner-all submitbutton"">Opslaan</button>
  <button class="submit ui-corner-all" onclick="history.back();return false;">Terug</button>
#{/form}
</div>