#{extends 'main.html' /}

<h2>Uw wachtwoord wijzigen</h2>

<div class="form">

#{form @VadGingerUsers.changePassword(), id:'changePasswordForm'}
 <div class="row">
  <div class="label">Oud wachtwoord:</div>
  <div class="field">
      <input type="password" name="oud_password" id="oudpassword"  title="Oud paswoord" />
       <span id="invalid_oud_password"></span>
      #{if invalidPassword}
      <span class="error">Het paswoord was niet het juiste voor jouw gebruikersnaam</span>
      #{/if}
  </div>
  </div>
  
  <div class="row">
  <div class="label">Nieuw wachtwoord:</div>
  <div class="field">
      <input name="c_password" id="password" type="password" title="Nieuw paswoord" />
      
      <span id="invalidPassword"></span>
  </div>
  </div>
  <div class="row">
  <div class="label">Bevestig het nieuwe wachtwoord:</div>
  <div class="field">
      <input name="conf_password" id="c_password" type="password" title="Paswoord bevestiging" />
      
      <span id="invalidPassword"></span>
  </div>
  </div>
  <input type="submit" class="submit ui-corner-all" value="Opslaan" />
  <button class="submit ui-corner-all" onclick="history.back();return false;">Terug</button>
#{/form}
</div>
<script type="text/javascript">
    // Select all of the forms on the page (in this case the only one)
    // and call 'validity' on the result.
    $(function() {
        $("form").validity(function() {
          $("input[type=password]").require();
          $("#password").
            require().
            assert(
            ($("#password").val().length>5),
                "Gelieve een paswoord van minstens 6 karakters in te geven"
            ).
            assert(
            ($("#password").val()==$("#c_password").val()),
                "Het nieuwe paswoord verschilt van de bevestiging. Probeer opnieuw"
            );
        });
    });
</script>