#{extends 'main.html' /}

<h2>Gebruikers</h2>

<table id="mytable" class="entity VadGingerUser">
	<thead>
		<tr>
				<th>Naam</th>
				<th>Gebruikersnaam</th>
				<th>Email</th>
				<th>Rol</th>
				<th>Login Teller</th>
				<th>Paswoord</th>
			  <th><!-- actions --></th>
	        
			
		</tr>
	</thead>
	<tbody>
	#{paginate.list items:entities, as:'entity'}
		<tr>
					<td>${entity.firstName} ${entity.lastName}</td>
					<td>${entity.userID}</td>
					<td>${entity.emailAddress}</td>
					<td>${entity.role}</td>
					<td>${entity.loginCount}</td>
					<td>${entity.passwordHash}</td>
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{VadGingerUsers.show(entity.id)}" title="Bekijken" name="Bekijken"><div class="viewer actionbutton"></div></a></td>
              <td><a href="@{VadGingerUsers.edit(entity.id)}" title="Bewerken" name="Bewerken"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{VadGingerUsers.delete(entity.id)}" title="Verwijderen" name="Verwijderen" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
            </tr></table>
          </td>
        
			
		</tr>
	#{/paginate.list}
	</tbody>
</table>
#{paginate.controls items:entities /} 
