#{extends 'main.html' /}

<h2>Gebruiker Detail</h2>

<div class="entity">
	<div class="row">
		<span class="elem">
			Naam:
		</span>
		<span class="value">
      ${entity.firstName}&nbsp;
      ${entity.lastName}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Email:
		</span>
		<span class="value">
      ${entity.emailAddress}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Rol:
		</span>
		<span class="value">
      ${entity.role}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Organisatie:
		</span>
    #{list items:entity.organizationId, as:'org'}
      <li><span class="value">${org}</span></li>
  #{/list}
	</div>
	<div class="row">
		<span class="elem">
			Login teller:
		</span>
		<span class="value">
      ${entity.loginCount}
		</span>
	</div>
  

</div>

<a href="@{VadGingerUsers.index}">Terug</a>

