#{extends 'main.html' /}

<h2>Gebruiker Detail</h2>

<div class="entity">
	<div class="row">
		<span class="elem">
			Naam:
		</span>
		<span class="value">
      ${entity.firstName}&nbsp;
      ${entity.lastName}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Gebruikersnaam:
		</span>
		<span class="value">
      ${entity.userID}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Email:
		</span>
		<span class="value">
      ${entity.emailAddress}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Rol:
		</span>
		<span class="value">
      ${entity.role}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			Organisaties:
		</span>
    <span class="value">
    <ul>
    #{list items:entity.organizationId, as:'org'}
      <li>${org}</li>
    #{/list}
    </ul>
    </span>
	</div>
	<div class="row">
		<span class="elem">
			Login teller:
		</span>
		<span class="value">
      ${entity.loginCount}
		</span>
	</div>
  

</div>

<a href="@{VadGingerUsers.index}">Terug</a>

