#{extends 'main.html' /}

<h2>View VadGingerUser</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			userID:
		</span>
		<span class="value">
      ${entity.userID}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			firstName:
		</span>
		<span class="value">
      ${entity.firstName}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			lastName:
		</span>
		<span class="value">
      ${entity.lastName}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			emailAddress:
		</span>
		<span class="value">
      ${entity.emailAddress}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			role:
		</span>
		<span class="value">
      ${entity.role}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			loginCount:
		</span>
		<span class="value">
      ${entity.loginCount}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{VadGingerUsers.index}">Back</a>

