#{extends 'main.html' /}

<h2>Materialen</h2>

<table id="mytable" class="entity Materials">
	<thead>
		<tr>
				<th>Naam</th>
				<th>Beschrijving</th>
			<th><!-- actions --></th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
					<td>${entity.naam}</td>
					<td>${entity.beschrijving}</td>
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{Materialss.show(entity.id)}" title="Bekijken" name="Bekijken"><div class="viewer actionbutton"></div></a></td>
              <td><a href="@{Materialss.edit(entity.id)}" title="Bewerken" name="Bewerken"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{Materialss.delete(entity.id)}" title="Verwijderen" name="Verwijderen" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
            </tr></table>
          </td>
		</tr>
	#{/list}
	</tbody>
</table>
