#{extends 'main.html' /}

<h2>EvaluvationTypes</h2>

<table class="entity EvaluvationType">
	<thead>
		<tr>
			<th><!-- actions --></th>
			
	        
				<th>Eval Type</th>
	        
			
	        
				<th>Id</th>
	        
			
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{EvaluvationTypes.show(entity.id)}">Show</a>&nbsp;
				<a href="@{EvaluvationTypes.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{EvaluvationTypes.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
			
        
					<td>${entity.evalType}</td>
        
			
        
					<td>${entity.id}</td>
        
			
		</tr>
	#{/list}
	</tbody>
</table>

<a href="@{EvaluvationTypes.create}">Create</a>
