<!DOCTYPE html>
<html>
<head>
  <title>#{get 'title' /}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/default.css'}"-->
  <link rel="stylesheet" type="text/css"
        href="http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}"> 
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.16.custom.css'}">
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
  #{get 'moreStyles' /}
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
  <script>
    ginger = {};
    #{if accordionTab}
      ginger.accordionTab = ${accordionTab};
    #{/if}
  </script>
  <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="utf-8"></script>
  <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
  <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
  #{get 'moreScripts' /}
</head>
<body class="yui-skin-sam">
<div id="doc3" class="yui-t3">
  <div id="hd" role="banner">
    <h1><a href="/">VAD Ginger .be</a></h1>
  </div>
  <div id="bd" role="main">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-g ui-corner-all ui-widget-content vad-main-block">
          #{if flash.error}
          <div class="fError">
            <strong>${play.i18n.Messages.get(flash.error)}</strong>
          </div>
          #{/if}
          #{if flash.success}
          <div class="fSuccess">
            <strong>${play.i18n.Messages.get(flash.success)}</strong>
          </div>
          #{/if}

          #{doLayout /}
        </div>
      </div>
    </div>
    <div class="yui-b">
      <!-- YOUR NAVIGATION GOES HERE -->
      <div id="before-accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1">
          <a href="@{Statics.moreInfo()}">Meer info</a>
        </h3>
      </div>
      <div id="accordion">
          <h3><a href="#">Gebruiker(s)</a></h3>
          <div><ul>
            <li><a href="@{Statics.usersStart()}">Startpagina</a></li>
            <li><a href="@{Statics.usersData()}">Gebruikersgegevens</a></li>
            <li><a href="@{VadGingerUsers.index()}">Lijst Gebruikers</a></li>
            <li><a href="@{VadGingerUsers.create()}">Nieuwe Gebruiker</a></li>
            <li><a href="@{VadGingerUsers.changeEmailIdForm()}">Emailadres wijzigen</a></li>
            <li><a href="@{VadGingerUsers.changePasswordForm()}">Wachtwoord wijzigen</a></li>
            <li>
              #{if session.get("username") == null}
              <a href="/secure/login">Login</a>
              #{/if}
              #{else}
              <a href="/secure/logout">Logout</a>
              #{/else}
            </li>
          </ul></div>
          <h3><a href="#">Activiteiten</a></h3>
          <div><ul>
            <li><a href="@{Statics.activitiesStart()}">Startpagina</a></li>
            <li><a href="@{Activities.index()}">Mijn Activiteiten</a></li>
            <li><a href="@{Activities.searchForm()}">Filter Activiteiten</a></li>
            <li><a href="@{Activities.create()}">Nieuwe Activiteit</a></li>
          </ul></div>
          <h3><a href="#">Organisaties</a></h3>
          <div><ul>
            <li><a href="@{Statics.organisationsStart()}">Startpagina</a></li>
            <li><a href="@{Organisatiess.index()}">Lijst organisaties</a></li>
            <li><a href="@{Organisatiess.subOrgIndex()}">Lijst sub-organisaties</a></li>
            <li><a href="@{Locationss.clustersIndex()}">Lijst regionale clusters</a></li>
          </ul></div>
          <h3><a href="#">Administratie</a></h3>
          <div><ul>
            <li>Organisaties (<a href="@{Organisatiess.index()}">Lijst</a> / <a href="@{Organisatiess.create()}">Nieuw</a>)</li>
            <li>Activiteit types (<a href="@{ActivityTypes.index()}">Lijst</a> / <a href="@{ActivityTypes.create()}">Nieuw</a>)</li>
            <li>Sectoren (<a href="@{Sectorss.index()}">Lijst</a> / <a href="@{Sectorss.create()}">Nieuw</a>)</li>
            <li>SubSectoren (<a href="@{Sectorss.subIndex()}">Lijst</a> / <a href="@{Sectorss.create()}">Nieuw</a>)</li>
            <!--li>Doelgroepen (<a href="@{ActivityTargetss.index()}">Lijst</a> / <a href="@{ActivityTargetss.create()}">Nieuw</a>)</li-->
            <li>Doelgroep types (<a href="@{TargetTypes.index()}">Lijst</a> / <a href="@{TargetTypes.create()}">Nieuw</a>)</li>
            <li>Evaluators (<a href="@{Evaluvatorss.index()}">Lijst</a> / <a href="@{ActivityEvaluvatorss.create()}">Nieuw</a>)</li>
            <li>Evaluator types (<a href="@{EvaluvationTypes.index()}">Lijst</a> / <a href="@{ActivityEvaluvatorss.create()}">Nieuw</a>)</li>
            <li>Deelnemer types (<a href="@{AttendantTypes.index()}">Lijst</a> / <a href="@{AttendantTypes.create()}">Nieuw</a>)</li>
            <li>Items (<a href="@{Itemss.index()}">Lijst</a> / <a href="@{Itemss.create()}">Nieuw</a>)</li>
            <li>Locaties (<a href="@{Locationss.index()}">Lijst</a> / <a href="@{Locationss.create()}">Nieuw</a>)</li>
            <li>Sub Locaties (<a href="@{Locationss.subLocindex()}">Lijst</a> / <a href="@{Locationss.create()}">Nieuw</a>)</li>
            <li>Materialen (<a href="@{Materialss.index()}">Lijst</a> / <a href="@{Materialss.create()}">Nieuw</a>)</li>
            <li></li>
          </ul></div>
      </div>
      <div id="after-accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1">
          <a href="@{Statics.tips()}">Tips voor Gebruikers</a>
        </h3>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1">
          <a href="#">Wachtwoord vergeten?</a>
        </h3>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1">
          <a href="#">Handleiding in Word</a>
        </h3>
      </div>
    </div>

  </div>
  <div id="ft" role="contentinfo"><p>&copy; Copyright VAD 2011. All Rights Reserved.</p></div>
</div>
</body>
</html>
