 <div class="row">
  <div class="label">Centrum</div>
  <div class="field">
      <input type="text" name="entity.centrum" value="${entity?.centrum}"/>
  </div>
  <span class="error">${errors.forKey('entity.centrum')}</span>
</div>
 <div class="row">
  <div class="label">Duur</div>
  <div class="field">
      <input type="text" name="entity.duur" value="${entity?.duur}"/>
  </div>
  <span class="error">${errors.forKey('entity.duur')}</span>
</div>
 <div class="row">
  <div class="label">Evaluvated</div>
  <div class="field">
      <input type="checkbox" name="entity.evaluvated"
        ${entity?.evaluvated ? 'checked':''}
      />
  </div>
  <span class="error">${errors.forKey('entity.evaluvated')}</span>
</div>
 <div class="row">
  <div class="label">Internal Activity</div>
  <div class="field">
      <input type="checkbox" name="entity.internalActivity"
        ${entity?.internalActivity ? 'checked':''}
      />
  </div>
  <span class="error">${errors.forKey('entity.internalActivity')}</span>
</div>
 <div class="row">
  <div class="label">Reported</div>
  <div class="field">
      <input type="checkbox" name="entity.reported"
        ${entity?.reported ? 'checked':''}
      />
  </div>
  <span class="error">${errors.forKey('entity.reported')}</span>
</div>
 <div class="row">
  <div class="label">Total Participants</div>
  <div class="field">
      <input type="text" name="entity.totalParticipants" value="${entity?.totalParticipants}"/>
  </div>
  <span class="error">${errors.forKey('entity.totalParticipants')}</span>
</div>
 <div class="row">
  <div class="label">Organization Id</div>
  <div class="field">
        <select name="entity.organizationId.id">
                      <option value="">(None)</option>              
        %{ models.Organisaties.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.organizationId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.organizationId')}</span>
</div>
 <div class="row">
  <div class="label">Location Id</div>
  <div class="field">
        <select name="entity.locationId.id">
                      <option value="">(None)</option>              
        %{ models.Locations.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.locationId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.locationId')}</span>
</div>
 <div class="row">
  <div class="label">User Id</div>
  <div class="field">
        <select name="entity.userId.id">
                      <option value="">(None)</option>              
        %{ models.GingerUsers.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.userId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.userId')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

