#{extends 'main.html' /}
<h2>View Sectors</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			ouder:
		</span>
		<span class="value">
      ${entity.ouder}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			naam:
		</span>
		<span class="value">
      ${entity.naam}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			beschrijving:
		</span>
		<span class="value">
      ${entity.beschrijving}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{Sectorss.index}">Back</a>

