#{extends 'main.html' /}
<div class="show">

<h2>Centrum details</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			Naam:
		</span>
		<span class="value">
      ${entity.naam}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Beschrijving:
		</span>
		<span class="value">
      ${entity.beschrijving}
		</span>
	</div>

	<div class="row">
		<span class="elem">
			Leden:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:entity.userId, as:'ia'}
			<span class="value">${ia.userID}</span>

			#{/list}
		</li>
		</ul>
		</span>
	</div>

	<div class="row">
		<span class="elem">
			Organisaties:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:entity.organizationId, as:'ia'}
			<span class="value">${ia.naam}</span>

			#{/list}
		</li>
		</ul>
		</span>
	</div>
  

</div></div>

