#{extends 'main.html' /}

<h2>Doelgroepen</h2>

<table id="mytable" class="entity ActivityTargets">
	<thead>
		<tr>
			
	        
				<th>Activity Id</th>
				<th>Attendant Type Id</th>
			  <th><!-- actions --></th>
	        
			
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
					<td>${entity.activityId}</td>
					<td>${entity.attendantTypeId}</td>
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{ActivityTargetss.show(entity.id)}"><div class="viewer actionbutton"></div></a></td>
              <td><a href="@{ActivityTargetss.edit(entity.id)}"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{ActivityTargetss.delete(entity.id)}" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
            </tr></table>
          </td>
        
			
		</tr>
	#{/list}
	</tbody>
</table>

