 <div class="row">
  <div class="label">Password</div>
  <div class="field">
      <input type="text" name="entity.password" value="${entity?.password}"/>
  </div>
  <span class="error">${errors.forKey('entity.password')}</span>
</div>
 <div class="row">
  <div class="label">Email</div>
  <div class="field">
      <textarea name="entity.email" rows="10" cols="40">${entity?.email}</textarea>
  </div>
  <span class="error">${errors.forKey('entity.email')}</span>
</div>
 <div class="row">
  <div class="label">First Name</div>
  <div class="field">
      <textarea name="entity.firstName" rows="10" cols="40">${entity?.firstName}</textarea>
  </div>
  <span class="error">${errors.forKey('entity.firstName')}</span>
</div>
 <div class="row">
  <div class="label">Last Name</div>
  <div class="field">
      <textarea name="entity.lastName" rows="10" cols="40">${entity?.lastName}</textarea>
  </div>
  <span class="error">${errors.forKey('entity.lastName')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

