%{user_cur = models.VadGingerUser.find("id is " + session.get("userId")).first();
userRole = user_cur.role;
%}
<div class="row">

  #{if userRole.compareTo(models.RoleType.ADMIN)>=0}


  <div class="label">Centrum</div>
  <div class="field">
    <select name="entity.centrumId.id" id="organizationSelect">

      <option value="">(None)</option>

      %{ models.Centrums.all().fetch().sort{ it.toString() }.each() { }%

      %{
      selected = false;
      if (entity?.centrumId?.id == it.id) {
      selected = true
      }
      }%
      <option value="${it?.id}"
      ${selected ? 'selected'.raw() : ''}>${it.naam}</option>
      %{ } }%
    </select>
  </div>
  <span class="error">${errors.forKey('entity.naam')}</span>
  #{/if}
  #{else}

  <div class="label"></div>
  <div class="field">
    <input type="hidden" name="entity.centrumId.id" value="${entity?.centrumId?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
  #{/else}

</div>

<div class="row">
  <div class="label">Naam</div>
  <div class="field">
    <input type="text" name="entity.naam" value="${entity?.naam}"/>
  </div>
  <span class="error">${errors.forKey('entity.naam')}</span>
</div>

<div class="row">
  <div class="label">Gemeenten</div>
  <div class="field">
    #{list items:0..10, as:'i'}
    <select name="cluster_locations_${i}">
      <option value="">Selecteer locatie</option>
    #{list items:locations, as:'location'}
      <option value="${location.id}">${location.naam}</option>
    #{/list}
    </select><br/>
    #{/list}
  </div>
</div>

<div class="row">
  <div class="label"></div>
  <div class="field">
    <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>