#{extends 'main.html' /}

<h2>Clusters</h2>

<table id="mytable" class="entity Locations">
	<thead>
		<tr>
				<th>Naam</th>
				<th>Beschrijving</th>
				<!-- <th>Is Cluster</th> -->
			<th><!-- actions --></th>
		</tr>
	</thead>
	<tbody>
	#{paginate.list items:entities, as:'entity'}
		<tr>
					<td>${entity.naam}</td>
					<td>${entity.cities}</td>
					<!-- <td>${entity.isCluster}</td> -->
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{Locationss.show(entity.id)}" title="Bekijken" name="Bekijken"><div class="viewer actionbutton"></div></a></td>
              #{if userRole && userRole.compareTo(models.RoleType.ORG_ADMIN)>=0 }
              <td><a href="@{Locationss.edit(entity.id)}" title="Bewerken" name="Bewerken"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{Locationss.delete(entity.id)}" title="Verwijderen" name="Verwijderen" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
              #{/if}
            </tr></table>
          </td>
		</tr>
	#{/paginate.list}
	</tbody>
</table>
#{paginate.controls items:entities /} 