#{extends 'main.html' /}

<h2>View ActivityTypeJunction</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			activityId:
		</span>
		<span class="value">
      ${entity.activityId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			activityTypeId:
		</span>
		<span class="value">
      ${entity.activityTypeId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{ActivityTypeJunctions.index}">Back</a>

