#{extends 'main.html' /}
<div class="statics">
<div class="content">
<p>Ginger is een gebruiksvriendelijk programma voor het registreren van preventieactiviteiten. Het programma werd ontwikkeld door de Vereniging voor Alcohol- en andere Drugproblemen vzw (VAD), voor het registreren van activiteiten die kaderen in alcohol- en drugpreventie in de Vlaamse Gemeenschap. </p>
<p>In 2012 werd een aangepaste versie van Ginger in gebruik genomen door het CGG-netwerk Suïcidepreventie Vlaanderen. De preventiewerkers in dit CGG-netwerk registreren hun activiteiten in Ginger. Op basis van hun input wordt een jaarrapport uitgewerkt.</p>

</div>
</div>