#{extends 'main.html' /}
<div class="statics">
<h2>Home</h2>
<div class="content">
  <p>GinGer is een gebruiksvriendelijk registratieprogramma voor activiteiten die kaderen in alcohol- en drugpreventie in de Vlaamse Gemeenschap.</p>
  <p>Opdracht: organiseren van een registratiesysteem dat gegevens verzamelt over de activiteiten van drugpreventiewerkers.</p>
  <p>Het registratiesysteem waarvan sprake is dus GinGer. GinGer bestaat als registratieprogramma al sinds 1996, met deze online-versie als laatste ontwikkeling (sinds 2008). Elk jaar nemen meer dan 60 preventiewerkers deel aan de GinGerregistratie. Wie ge&iuml;nteresseerd is in deelname aan de GinGerregistratie kan met mij contact opnemen op onderstaand e-mailadres.</p>
  <p>Johan Rosiers, VAD</p>
  <a href="mailto:info@vadginger.be">info@vadginger.be</a>

</div>
</div>