#{extends 'main.html' /}
<div class="statics">
<h2>Meer Info</h2>
<div class="content">
<p class="subtitle">Wat is GinGer?</p>
<p>Ginger is een registratieprogramma voor activiteiten op het vlak van alcohol- en drugpreventie.  Alcohol- en drugpreventie willen we eerder vanuit een ruimer blikveld benaderen waarbij naast de evidente thema's alcohol en illegale drugs ook psychoactieve medicatie, de gokproblematiek, tabak en internetverslavingen (o.a. gamen) in beschouwing worden genomen. Deze thema's komen in aanmerking om in Ginger te worden opgenomen, andere thema's niet.</p>
<p>De Gingerregistratie beantwoordt aan de opdracht “organiseren van een registratiesysteem dat gegevens verzamelt over de activiteiten van drugpreventiewerkers”, die VAD van de Vlaamse overheid hoort uit te voeren. Deze opdracht wordt gespecificeerd aan de hand van 7 criteria:</p>
<ul>
<li>de methode en procedure van registratie is wetenschappelijk onderbouwd</li>
<li>de bevraging houdt rekening met andere, soortgelijke bevragingen (overlappingen, blinde vlekken, overbevraging)</li>
<li>de resultaten worden op een toegankelijke manier gepresenteerd</li>
<li>de resultaten worden getoetst op beleidsrelevantie</li>
<li>de resultaten zijn toegankelijk voor alle betrokken partijen</li>
<li>de resultaten verschaffen informatie over de mate waarin aangeboden methodieken worden toegepast</li>
<li>de resultaten verschaffen informatie over de kwaliteit van de toepassing van de methodieken</li>
</ul>
<p>VAD beheert het programma en bundelt elk jaar de resultaten van de registratie in een monitoringrapport. Dit biedt de overheid, VAD, de registratoren en andere geïnteresseerden een overzicht van de output van de registratie. Het brengt met andere woorden in kaart welke preventieactiviteiten worden uitgevoerd en welk de aard en het bereik van deze activiteiten is.</p>
<p class="subtitle">Geschiedenis van Ginger</p>
<p>In de loop van bijna twee decennia heeft VAD veel ervaring kunnen opbouwen op het vlak van registratie van preventieactiviteiten. De deugdelijkheid en gebruiksvriendelijkheid van Ginger zijn aangetoond.</p>
<p>Preventiewerkers signaleerden begin jaren '90 de nood aan het registreren en monitoren van alcohol- en drugpreventieactiviteiten. VAD nam daarop initiatieven om een registratiesysteem op touw te zetten. Dit pionierswerk mondde in 1996 uit in een structurele financiering van een geïnformatiseerd registratieprogramma voor preventieactiviteiten. Zo zag Ginger het levenslicht. In de loop van de volgende jaren werden nieuwe, verbeterde versies ontwikkeld. In 2002 was Ginger 9 het voorlopige orgelpunt.</p>
<p>Maar in de loop van het eerste decennium stelden zich nieuwe uitdagingen, zowel inzake beleidsnoden als op het vlak van ICT-toepassingen. Daarom werd beslist om een uitgebreidere Gingerversie te ontwikkelen voor online-toepassing. In 2009 werd vadginger.be gelanceerd. In 2012 werd een verder ontwikkelde online-versie in gebruik genomen, die het registreren sneller maakte en meer toepasssingsmogelijkheden bood (bv. ook op Mac-systemen en op verschillende webbrowsers).</p>

</div>
</div>