#{extends 'main.html' /}
<div class="statics">
<h2>Meer Info</h2>
<div class="content">
  <p class="subtitle">Wat is GinGer?
  <p>GinGer is een registratieprogramma voor activiteiten op het vlak van alcohol- en drugpreventie. Alcohol- en drugpreventie willen we eerder vanuit een ruimer blikveld benaderen waarbij naast de evidente thema's van alcohol en illegale drugs ook psycoactive medicatie, de gokproblematiek, tabak en internetverslavingen (o.a. gamen) in beschouwing worden genomen. Deze thema's komen in aanmerking om in GinGer te worden opgenomen, andere thema's niet.
  <p>De GinGerregistratie beantwoordt aan de opdracht "organiseren van een registratiesysteem dat gegevens verzamelt over de activiteiten van drugpreventiewerkers", die VAD van de Vlaamse overheid hoort uit te voeren. Deze opdracht wordt gespecifieerd aan de hand van 7 criteria:
  <ul>
  <li>de methode en procedure van registratie is wetenschappelijk onderbouwd</li>
  <li>de bevraging houdt rekening met andere, soortgelijke bevragingen (overlappingen, blinde vlekken, overbevraging)</li>
  <li>de resultaten worden op een toegankelijke manier gepresenteerd</li>
  <li>de resultaten worden getoetst op beleidsrelevantie</li>
  <li>de resultaten zijn toegankelijk voor alle betrokken partijen</li>
  <li>de resultaten verschaffen informatie over de mate waarin aangeboden methodieken worden toegepast</li>
  <li>de resultaten verschaffen informatie over de kwaliteit van de toepassing van de methodieken</li>
  </ul>
  <p>VAD beheert het programma en bundelt elk jaar de resultaten van de registratie in een monitorrapport. Dit biedt de overheid, VAD, de registratoren en andere ge&iuml;nteresseerden een overzicht van de output van de registratie. Het brengt met andere woorden in kaart welke preventieactiviteiten worden uitgevoerd en welk de aard en het bereik van deze activiteiten is.
  <p class="subtitle">Geschiedenis van GinGer
  <p>In de loop van bijna twee decennia heeft VAD veel ervaring kunnen opbouwen op het vlak van registratie van preventieactiviteiten. De deugdelijkheid en gebruiksvriendelijkheid van GinGer zijn aangetoond. Preventiewerkers signaleerden begin jaren '90 de nood aan het registreren en monitoren van alcohol- en drugpreventieactiviteiten. VAD nam daarop initiatieven om een registratiesysteem op touw te zetten. Dit pionierswerk mondde in 1996 uit in een structurele financiering van een ge&iuml;nformatiseerd registratieprogramma voor preventieactiviteiten. Zo zag GinGer het levenslicht. In de loop van de volgende jaren werden nieuwe, verbeterde versies ontwikkeld. In 2002 was GinGer 9 het voorlopige orgelpunt. Maar in de laatste jaren stelden zich nieuwe uitdagingen, zowel inzake beleidsnoden als op het vlak van de ICT-toepassingen. Daarom werd beslist om een uitgebreidere GinGerversie te ontwikkelen voor online toepassing. Daarom werd VADGinGer.be ontwikkeld.

</div>
</div>