#{extends 'main.html' /}
<div class="statics">
<h2>HANDLEIDING EN NUTTIGE TIPS</h2>
<div class="content">
<p>Opgelet met de BACKSPACE toets. Op het internet wordt deze gebruikt om een een pagina terug te gaan. Dit kan betekenen dat je hetgeen je juist hebt ingegeven verliest als het niet bewaard is.</p>
<p>Om naar het einde van een internetpagina te gaan kan je de END toets gebruiken. Op sommige pagina's staat de knoppen (Opslaan, Terug, Filter uitvoeren, …) helemaal onderaan. Omdat het gebruik van de scrollbar niet altijd even handig is kan je beter de END toets gebruiken. Let wel op dat de focus niet op een lijst staat. Klik desnoods eerst ergens op een blanco plaats en druk dan op END.</p>

</div>
</div>