#{extends 'main.html' /}
<div class="statics">
<h2>Gebruikersgegevens</h2>
<div class="content">
<p>Om je in VADGinGer.be te kunnen aanmelden, heb je een gebruikersnaam en een wachtwoord nodig. Indien je die nog niet hebt, dien je er &eacute;&eacute;n aan te vragen via <a href="mailto:info@vadginger.be">info@vadginger.be</a>. Dan wordt jou per mail een gebruikersnaam en wachtwoord toegekend.</p>
<p>De gebruikersnaam bestaat uit zes letters. De eerste drie verwijzen naar de organisatie waarin je werkt, de laatste drie naar jouw voornaam en familienaam. Het wachtwoord wordt automatisch gegenereerd. Om de veiligheid van het wachtwoord te verhogen, wordt er minstens &eacute;&eacute;n niet alfanumeriek teken (bijvoorbeeld ! of &) toegevoegd. Indien je het nadien wilt veranderen in een makkelijker te onthouden wachtwoord kan dat via de link "wachtwoord wijzigen". Vergeet wel niet om ook minstens &eacute;&eacute;n niet alfanumeriek teken te gebruiken.</p>
</div>
</div>