
 <div class="row">
  <div class="label">Afhankelijk van</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.ouder.id">
              
                      <option value="">(None)</option>              
              
        %{ models.ActivityType.find("ouder is null").fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.ouder?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.ouder')}</span>
</div>


 <div class="row">
  <div class="label">Naam</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.naam" value="${entity?.naam}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.naam')}</span>
</div>


 <div class="row">
  <div class="label">Beschrijving</div>
  <div class="field">
    
    
    
    
    
    
      <textarea name="entity.beschrijving" rows="10" cols="40">${entity?.beschrijving}</textarea>
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.beschrijving')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


