
<input type="hidden" value="${entity?.userId?.id}" name="entity.userId.id">
<input type="hidden" name="entity.centrum.id" value="${entity?.centrumId?.id}"/>
<input type="hidden" name="entity.id" value="${entity?.id}"/>
      




<div class="row">
  <div class="label">Naam</div>
  <div class="field">
      <input type="text" name="entity.naam" value="${entity?.naam}" size="80"/>

  </div>
  <span class="error">${errors.forKey('entity.naam')}</span>
</div>

 <div class="row">
  <div class="label">Afhankelijk van</div>
  <div class="field">
      
        <select name="entity.ouder.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Organisaties.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.ouder?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
    
  </div>
  <span class="error">${errors.forKey('entity.ouder')}</span>
</div>


 <div class="row">
  <div class="label">Organisatie Netwerk</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <select name="entity.organisatieNetwerk" >
        <option value="org">Organisatie</option>
        <option value="net">Netwerk</option>

      </select>
    
  </div>
  <span class="error">${errors.forKey('entity.organisatieNetwerk')}</span>
</div>


 <div class="row">
  <div class="label">Adres</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.adres" value="${entity?.adres}" size="120"/>
    
  </div>
  <span class="error">${errors.forKey('entity.adres')}</span>
</div>


 <div class="row">
  <div class="label">Postcode</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.postcode" value="${entity?.postcode}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.postcode')}</span>
</div>


 <div class="row">
  <div class="label">Gemeente</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.gemeente" value="${entity?.gemeente}" size="80"/>
    
  </div>
  <span class="error">${errors.forKey('entity.gemeente')}</span>
</div>


 <div class="row">
  <div class="label">Land</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.land" value="${entity?.land}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.land')}</span>
</div>

