
<input type="hidden" value="${entity?.userId?.id}" name="entity.userId.id">
<input type="hidden" name="entity.centrum.id" value="${entity?.centrumId?.id}"/>
<input type="hidden" name="entity.id" value="${entity?.id}"/>
<input type="hidden" name="entity.land" value=""/>
      




<div class="row">
  <div class="label">Naam</div>
  <div class="field">
      <input type="text" name="entity.naam" value="${entity?.naam}" size="80" title="Naam"  id="Naam"/>

  </div>
  <span class="error">${errors.forKey('entity.naam')}</span>
</div>

 <div class="row">
  <div class="label">Indien suborganisatie: afhankelijk van</div>
  <div class="field">
      
        <select name="entity.ouder.id">
              
                      <option value="">(None)</option>
          #{list items:mainorgs, as:'org'}
          #{if org.id == entity?.ouder?.id}
          <option value="${org.id}" selected>${org.naam} - ${entity?.ouder?.id} - ${org.id} - ${entity?.ouder?.naam}</option>
          #{/if}
          #{else}
          <option value="${org.id}">${org.naam} - ${entity?.ouder?.id} - ${org.id}} - ${entity?.ouder?.naam}</option>
          #{/else}
          #{/list}
        </select>
    
  </div>
  <span class="error">${errors.forKey('entity.ouder')}</span>
</div>


 <div class="row">
  <div class="label">Organisatie of Netwerk</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <select name="entity.organisatieNetwerk" >
        <option value="Org">Organisatie</option>
        <option value="Net">Netwerk</option>

      </select>
    
  </div>
  <span class="error">${errors.forKey('entity.organisatieNetwerk')}</span>
</div>


 <div class="row">
  <div class="label">Adres</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.adres" value="${entity?.adres}" size="120" title="Adres"  id="Adres"/>
    
  </div>
  <span class="error">${errors.forKey('entity.adres')}</span>
</div>


 <div class="row">
  <div class="label">Postcode</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.postcode" value="${entity?.postcode}" title="Postcode" id="Postcode"/>
    
  </div>
  <span class="error">${errors.forKey('entity.postcode')}</span>
</div>


 <div class="row">
  <div class="label">Gemeente</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.gemeente" value="${entity?.gemeente}" size="80" title="Gemeente"  id="Gemeente"/>
    
  </div>
  <span class="error">${errors.forKey('entity.gemeente')}</span>
</div>
<script type="text/javascript">
    $(function() {
        $("form").validity(function() {
          $("#Naam").require();
        });
    });
</script>

