#{extends 'main.html' /}

<h2>Organisaties</h2>

<table id="mytable" class="entity Organisaties">
	<thead>
		<tr>
				<th>Naam</th>
				<th>Organisatie Netwerk</th>
				<th>Adres</th>
				<th>Centrum</th>
			  <th><!-- actions --></th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
					<td>${entity.naam}</td>
					<td>${entity.organisatieNetwerk}</td>
					<td>${entity.adres}, ${entity.postcode}&nbsp;${entity.gemeente}</td>
					<td>${entity.centrum}</td>
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{Organisatiess.show(entity.id)}"><div class="viewer actionbutton"></div></a></td>
              <td><a href="@{Organisatiess.edit(entity.id)}"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{Organisatiess.delete(entity.id)}" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
            </tr></table>
          </td>
        
			
		</tr>
	#{/list}
	</tbody>
</table>

<a href="@{Organisatiess.create}">Create</a>
