#{extends 'main.html' /}

<h2>${title}
#{if mainorgs}
  van <select id="org4suborgSelector" style="font-size:0.9em;">
  <option value="all">Alle organisaties</option>
  #{list items:mainorgs, as:'main'}
  #{if orgId && main.id == orgId}
  <option value="${main.id}" selected>${main.naam}</option>
  #{/if}
  #{else}
  <option value="${main.id}">${main.naam}</option>
  #{/else}
  #{/list}
  </select>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      $("#org4suborgSelector").change(function(ev){
        if($(this).val() == 'all'){
          location.href = "/organisatiess/centrumsuborganisaties";
        }
        else{
          location.href = "/organisatiess/centrumsuborganisaties?orgId="+$(this).val();
        }
      });
    });

  </script>
#{/if}</h2>

<table id="mytable" class="entity Organisaties">
	<thead>
		<tr>
				<th>Naam</th>
				<th>Organisatie/Netwerk</th>
				<th>Adres</th>
				<th>Centrum</th>
				#{if mainorgs}<th>Hangt af van</th>#{/if}
			  <th><!-- actions --></th>
		</tr>
	</thead>
	<tbody>
	#{paginate.list items:entities, as:'entity'}
		<tr>
					<td>${entity.naam}</td>
					<td>${entity.organisatieNetwerk}</td>
					<td>${entity.adres}, ${entity.postcode}&nbsp;${entity.gemeente}</td>
					<td>${entity.ouder?.centrumId?.naam}</td>
					#{if mainorgs}<td>${entity.ouder?.naam}</td>#{/if}
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{Organisatiess.show(entity.id)}" title="Bekijken" name="Bekijken"><div class="viewer actionbutton"></div></a></td>
              #{if user && user.role && user.role.compareTo(models.RoleType.ORG_ADMIN)>=0 }
              <td><a href="@{Organisatiess.edit(entity.id)}" title="Bewerken" name="Bewerken"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{Organisatiess.delete(entity.id)}" title="Verwijderen" name="Verwijderen" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
              #{/if}
            </tr></table>
          </td>
        
			
		</tr>
	#{/paginate.list}
	</tbody>
</table>
#{paginate.controls items:entities /}
