#{extends 'main.html' /}

<h2>View Organisaties</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			userId:
		</span>
		<span class="value">
      ${entity.userId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			ouder:
		</span>
		<span class="value">
      ${entity.ouder}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			naam:
		</span>
		<span class="value">
      ${entity.naam}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			organisatieNetwerk:
		</span>
		<span class="value">
      ${entity.organisatieNetwerk}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			adres:
		</span>
		<span class="value">
      ${entity.adres}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			postcode:
		</span>
		<span class="value">
      ${entity.postcode}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			gemeente:
		</span>
		<span class="value">
      ${entity.gemeente}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			land:
		</span>
		<span class="value">
      ${entity.land}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			centrum:
		</span>
		<span class="value">
      ${entity.centrum}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Organisatiess.index}">Terug</a>

