#{extends 'main.html' /}

<h2>Organisatie ${entity.naam}</h2>

<div class="entity">

	<div class="row">
		<span class="elem">
			Naam:
		</span>
		<span class="value">
      ${entity.naam}
		</span>
	</div>
  
	<div class="row">
		<span class="elem">
			Verantwoordelijke:
		</span>
		<span class="value">
      ${entity.userId}
		</span>
	</div>
  
	<div class="row">
		<span class="elem">
			Afhankelijk van:
		</span>
		<span class="value">
      ${entity.ouder}
		</span>
	</div>
  
	<div class="row">
		<span class="elem">
			Organisatie of Netwerk:
		</span>
		<span class="value">
      ${entity.organisatieNetwerk}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Adres:
		</span>
		<span class="value addressblock">
      ${entity.adres}<br />${entity.postcode} ${entity.gemeente}
		</span>
	</div>

  
	<div class="row">
		<span class="elem">
			Land:
		</span>
		<span class="value">
      ${entity.land}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Centrum:
		</span>
		<span class="value">
      ${entity.centrum}
		</span>
	</div>
  

</div>


