#{extends 'main.html' /}
<div class="show">

<h2>View ItemsInActivity</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			activityId:
		</span>
		<span class="value">
      ${entity.activityId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			itemId:
		</span>
		<span class="value">
      ${entity.itemId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>
</div>

