%{user_cur = models.VadGingerUser.find("id is " + session.get("userId")).first();
  	userRole = user_cur.role;
  	centrumId = user_cur.centrumId;%}

<div class="row">
  <div class="label">Omschrijving van de activiteit:</div>
  <div class="field">
    <input type="text" name="entity.beschrijving" value="${entity?.beschrijving}" size="80" title="Omschrijving"  id="Omschrijving"/>

  </div>
  <span class="error">${errors.forKey('entity.beschrijving')}</span>
</div>

<div class="row">
  <div class="label">Organisatie</div>
  <div class="field">

    <select name="organization" id="organizationSelect"  title="Organisatie"  id="Organisatie">

      <option value="">Selecteer een organisatie</option>
     #{if userRole.compareTo(models.RoleType.ORG_ADMIN) > 0 }
             
        %{ models.Organisaties.find("ouder is null and isActive=1  order by naam").fetch().each() { }%
          
          %{
            selected = false;
            if (entity?.organizationId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        #{/if}
        #{else}
             
        %{ models.Organisaties.find("ouder is null and isActive=1 and centrumId is " + centrumId.id + "order by naam").fetch().each() { }%
          
          %{
            selected = false;
            if (entity?.organizationId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        #{/else}
    </select>

  </div>
  <span class="error">${errors.forKey('entity.organizationId')}</span>

  <div class="field" id="hiddenOrg"></div>

  <script>
    $("#organizationSelect").change(
      function() {
        $("#hiddenOrg").empty();
        var selectedOrganization = $("#organizationSelect option:selected").val();
        var listLocations = "/suborganizations/list?id="+selectedOrganization+"&centrumId=${centrumId.id}";
          $("#hiddenOrg").load(listLocations, function() {
          });
      });
    (function(){
      $("#hiddenOrg").empty();
      var selectedOrganization = $("#organizationSelect option:selected").val();
      var listLocations = #{jsAction @Organisatiess.list(':id')/}
        $("#hiddenOrg").load(listLocations({id: selectedOrganization}), function() {
        });
    })();
  </script>
</div>
<div class="row">
  <div class="label">Interne activiteit</div>
  <div class="field">

    #{if entity?.internalActivity}
    Ja <input type="radio" name="entity.internalActivity" value="true" checked/>&nbsp;&nbsp;&nbsp;&nbsp;
    Neen <input type="radio" name="entity.internalActivity" value="false" />
    #{/if}
    #{else}
    Ja <input type="radio" name="entity.internalActivity" value="true"/>&nbsp;&nbsp;&nbsp;&nbsp;
    Neen <input type="radio" name="entity.internalActivity" value="false" checked/>
    #{/else}



  </div>
  <span class="error">${errors.forKey('entity.internalActivity')}</span>
</div>
<hr>
<div class="row">
  <div class="label">Op welke dag vond de activiteit plaats?</div>
  <div class="field">

    <input type="text" name="activity_date" value="${entity?.activityDate?.format('dd/MM/yyyy', 'nl')}" id="datepicker" title="Datum"  id="Datum"/>
    <script>
      $("#datepicker").datepicker({ appendText: '(dd/mm/yyyy)', dateFormat: 'dd/mm/yy', monthNames: ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober', 'November', 'December']});
    </script>
  </div>
  <span class="error">${errors.forKey('entity.activityDate')}</span>
</div>
<div class="row">
  <div class="label">Hoe lang duurde de activiteit (in minuten)?</div>
  <div class="field">

    <input type="text" name="entity.duur" value="${entity?.duur}" title="Duur" id="Duur"/>

  </div>
  <span class="error">${errors.forKey('entity.duur')}</span>
</div>

<hr>
<div class="row">
  <div class="label">Welke sector(en) en detailsector(en) waren aanwezig op de activiteit?
    <div class="label">Sector:</div>
  </div>
  <div class="field" id="Sector">

    %{ models.Sectors.find("ouder is null and isActive=1").fetch().sort{ it.id }.each() { }%

    %{
    selected = false;
    if (entity?.locationId?.id == it.id) {
    selected = true
    }
    }%


    <input id="${it?.id}" name="sector_${it?.id}" type="checkbox" class="chkbx" title="Sector" >
    <label class="choice" for="sector_${it?.id}">${it?.naam}</label>
    <input type="hidden" value="" title="Sector" id="hs_${it?.id}"/>
    <span class="field" id="${it?.id}cont"></span><br>
    <!-- <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option> -->
    %{ } }%


  </div>
  <span class="error">${errors.forKey('entity.locationId')}</span>
  <script>
    $(".chkbx").change(function() {
      var $input = $(this);
      var currentId = $(this).attr('id');
      var currentIdcont = "#" + currentId + "cont";
      if ($input.is(':checked')) {
        var listLocations = #{jsAction @Sectorss.list(':id')/}
          $(currentIdcont).load(listLocations({id: currentId}), function() {
          });
      }
      else {
        $(currentIdcont).html("");
      }
    });
  </script>
  <!-- </select> -->

</div>
<hr>


<!--  <div class="row">
 <div class="label">Reported</div>
 <div class="field">

     <input type="checkbox" name="entity.reported"
       ${entity?.reported ? 'checked':''}
     />
   </div>
 <span class="error">${errors.forKey('entity.reported')}</span>
</div> -->


<!--  <div class="row">
  <div class="label">Total Participants</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.totalParticipants" value="${entity?.totalParticipants}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.totalParticipants')}</span>
</div> -->


<div class="row">
  <div class="label">Tot welk locatieniveau richt de activiteit zich?</div>
  <div class="field">
    <select name="location" id="locationSelect" title="Locatie">


      <option value="">Selecteer een locatieniveau</option>
      %{ models.Locations.find("ouder is null and isCluster = 0 and isActive=1").fetch().sort{ it.id }.each() { }%
      %{
      selected = false;
      if (entity?.locationId?.id == it.id) {
      selected = true
      }
      if(!selected&&entity.locationId!=null&&entity.locationId.ouder!=null&&entity.locationId.ouder.id==it.id) {
      selected = true
      }
      }%
      <option value="${it?.id}"
      ${selected ? 'selected'.raw() : ''}>${it.naam}</option>
      %{ } }%
    </select>

  </div>
  <span class="error">${errors.forKey('entity.locationId')}</span>

  <div class="field" id="hiddenLoc"></div>
  <!-- <select id="sub_location_id"> -->
  <script>
    $("#locationSelect").change(
      function() {
        $("#hiddenLoc").empty();
        var selectedLocation = $("#locationSelect option:selected").val();
        //var listLocations = #{jsAction @Locationss.list(':id')/};
        var listLocations = "/sublocations/list?id="+selectedLocation;
          $("#hiddenLoc").load(listLocations, function() {
          });
      });
  </script>
  <!-- </select> -->

</div>
<hr>
<div class="row">
  <div class="label">Welke doelgroep was aanwezig op de activiteit?</div>
  %{ models.TargetType.find("isActive=1").fetch().sort{ it.toString() }.each() { }%
  %{
  tti = 0;
  entity?.activityTargets?.each(){
    tti = it.attendantTypeId?.targetTypeId.id;
  }
  checked = "";
  if (tti == it.id){
    checked = "checked";
  }
  }%

  <input id="${it?.id}" name="attendant_type" type="radio" class="rdbx" value="${it?.id}" ${checked} title="Doelgroep">${it}&nbsp;&nbsp;&nbsp;
  <!-- <span class="field" id="${it?.id}cont"></span><br> -->
  <!-- <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option> -->
  %{ } }%<input type="hidden" id="attendant_type_h" title="Doelgroep" />
  <div class="field" id="atd_type"></div>
  %{
  if (entity?.id) {
  }%
  <script>
    $(document).ready(function(){
      var currentIdcont = "#atd_type";
      var listAtdTypes = #{jsAction @AttendantTypes.filledList(':id')/}
      $(currentIdcont).load(listAtdTypes({id: ${entity.id}}), function() {
      });
    })
  </script>
  %{
  }
  }%
  <script>
    $(".rdbx").change(function() {
      var $input = $(this);
      var currentId = $(this).attr('id');
      var currentIdcont = "#atd_type";
      if ($input.is(':checked')) {
        var listAtdTypes = #{jsAction @AttendantTypes.list(':id')/}
          $(currentIdcont).load(listAtdTypes({id: currentId}), function() {
          });
      }
      else {
        $(currentIdcont).html("");
      }
    });
  </script>

</div>
<hr>

<div class="row">
  <div class="label">Over welke soort activiteit gaat het?</div>
  <div class="field">
    <select name="activity_type" id="activity_type_select" title="Soort activiteit">
      <option value="">Selecteer de soort activiteit</option>
      %{ models.ActivityType.find("ouder is null and isActive=1 order by id").fetch().each() { }%
      %{
      selected = false;
      if (entity?.userId?.id == it.id) {
      selected = true
      }
      }%
      <option value="${it?.id}"
      ${selected ? 'selected'.raw() : ''}>${it.naam}</option>
      %{ } }%
    </select>
  </div>
  <!-- <span class="error">${errors.forKey('entity.userId')}</span> -->
   <div class="field" id="hiddenActType"></div>

  <script>
    $("#activity_type_select").change(
      function() {
        $("#hiddenOrg").empty();
        var selectedActivityType = $("#activity_type_select option:selected").val();
        var listLocations = #{jsAction @ActivityTypes.list(':id')/}
          $("#hiddenActType").load(listLocations({id: selectedActivityType}), function() {
          });
      });
  </script>
</div>
<hr>

<!-- 
 <div class="row">
  <div class="label">User Id</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.userId.id">
              
                      <option value="">(None)</option>              
              
        %{ models.VadGingerUser.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.userId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.userId')}</span>
</div>
 -->

<div class="row">
  <div class="label"></div>
  <div class="field">


    <input type="hidden" name="entity.id" value="${entity?.id}"/>


  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>



<div class="row">
  <div class="label">Welke items werden tijdens de activiteit behandeld?</div>
  <div class="field" id="TheItem">


    <ul>

      <!-- 				<li id="li_1" > -->
		<span>
#{list items, as:'item'}
<li>
  <input id="item_1_${item.id}" name="item_1_${item.id}" class="element checkbox" type="checkbox" value="1" titel="Item"/>
  <label class="choice" for="item_1_${item.id}">${item.naam}</label>
  <input type="hidden" value="" title="Item" id="hi_${item?.id}"/><BR>
</li>
#{/list}
		</span>

      <!-- </li> -->
    </ul>

  </div>
</div>
<hr>

<div class="row">
  <div class="label">Is de activiteit geëvalueerd?</div>
  <div class="field">

    Ja <input type="radio" name="entity.evaluvated" id="evaled_t" value="true"
    ${entity?.evaluvated ? 'checked':''}
    />
    Neen <input type="radio" name="entity.evaluvated" id="evaled_f" value="false"
    ${!entity?.evaluvated ? 'checked':''}
    />


  </div>
  <span class="error">${errors.forKey('entity.evaluvated')}</span>
</div>

<div class="row" id="evaluvated" style="display: none">

  <div class="row">
    <div class="label">Werd het standaardevaluatieformulier gebruikt?</div>
    <div class="field">
      Ja <input type="radio" name="entity.defForm" value="true"
      ${entity?.defForm ? 'checked':''}
      />
      Neen <input type="radio" name="entity.defForm" value="false"
      ${!entity?.defForm ? 'checked':''}
      />
      </div>
    <span class="error">${errors.forKey('entity.defForm')}</span>
  </div>
</div>


<script>
  $("#evaled_t").click(function() {
    var $input = $(this);
    if ($input.is(':checked')) {
      $("#evaluvated").show();
    }
  });
  $("#evaled_f").click(function() {
    var $input = $(this);
    if ($input.is(':checked')) {
      $("#evaluvated").hide();
    }
  });
  (function(){
    var test = $("#evaled_t:checked").length;
    test = $("#evaluvated");
    if ($("#evaled:checked_t").length>0) {
      $("#evaluvated").slideDown();
    }
  })();
</script>
<script type="text/javascript">
    $("form").submit(function(ev){
      $("label.error").remove();
      $("form").validity(function() {
        var test = ev;
        test = $("input[name='attendant_type']");
        $("input[name='entity.beschrijving']").require();
        $("input[name='activity_date']").require();
        $("input[name='entity.duur']").require().match('integer', "De duur moet een positief geheel getal zijn");
        $("#organizationSelect").require();
        $("#locationSelect").require();
        $("#activity_type_select").require();
        if($("#subActivityTypeSelect").length){
          $("#activity_type_select").assert(
            ($("#subActivityTypeSelect").val()),
                "Gelieve minstens één detail soort aan te duiden"
            );
        }


        $("#attendant_type_h").assert(
          $("input[name='attendant_type']:checked").length != 0,
              "Gelieve minstens één doelgroep aan te vinken"
          );

        if ($("#Sector input:checked").length == 0)
            $("#Sector input:hidden:first").require("Gelieve minstens één sector aan te vinken");
        $(".subSectorSelect").each(function(index, elem){
          if($(elem).val()==undefined){
            var sectorId = elem.name.substring(11);
            $("#hs_"+sectorId).require("Gelieve minstens één detail sector aan te duiden");
          }
        });
        if ($("#atd_type input:checked").length == 0)
            $("#atd_type input:hidden:first").require("Gelieve minstens één type aanwezigen van deze doelgroep aan te vinken");
        if($("#TheItem").length){
          if ($("#TheItem input:checked").length == 0) {
              $("#TheItem input:hidden:first").require("Gelieve minstens één item aan te vinken");
          }
        }
        if ($("#evaluvated").css("display")!='none' && $("#evaluvated input[type='checkbox']:checked").length == 0){
            $("#evaluvated #eval_type_h").require("Gelieve aan te duiden hoe de activiteit werd geëvalueerd");
        }
        if ($("#evaluvated").css("display")!='none' && $("#evaluvated input[name='evaluvators'][type='radio']:checked").length == 0){
            $("#evaluvated #eval_who_h").require("Gelieve aan te duiden door wie de activiteit werd geëvalueerd");
        }

        if ($("#Materiaal input:checked").length == 0)
            $("#Materiaal input:hidden:first").require("Gelieve minstens één gebruikt materiaal aan te vinken");
        var participants = $("#atd_type input[name='entity.totalParticipants']");
        if(participants.length){
          try{
          participants.require().match('integer', "Het aantal deelnemers moet een positief geheel getal zijn");
          }catch(err){
            var e = err;
            alert(e.message);
          }
        }

        var validationerrors = $("label.error");
        if($("label.error").length){
          var top = validationerrors.first().offset().top;
          $(window).scrollTop(top-50);
          ev.preventDefault();
        }
      }());
    });
</script>
