#{extends 'main.html' /}

<h2>Activities</h2>

<table id="mytable" class="entity Activity">
	<thead>
		<tr>
				<th>Bescrijving</th>
				<th>Datum</th>
				<th>Organisatie</th>
				<th>Duur</th>
				<th>Eval.</th>
				<th>Intern</th>
				<th>Deel-nemers</th>
				<th>Locatie</th>
				<th>Organisator</th>
			  <th><!-- actions --></th>
		</tr>
	</thead>
	<tbody>
	#{paginate.list items:entities, as:'entity'}
	
	
		<tr>
					<td></td>
          <td></td>
          <td>${entity.organizationId}</td>
					<td>${entity.duur}</td>
					<td>${entity.evaluvated}</td>
					<td>${entity.internalActivity}</td>
					<td>${entity.totalParticipants}</td>
					<td>${entity.locationId}</td>
					<td>${entity.userId}</td>
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{Activities.show(entity.id)}"><div class="viewer actionbutton"></div></a></td>
              <td><a href="@{Activities.edit(entity.id)}"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{Activities.delete(entity.id)}" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
            </tr></table>
          </td>
		</tr>
		
	#{/paginate.list}
	
		
	</tbody>
</table>
#{paginate.controls items:entities /} 
<a href="@{Activities.create}">Create</a>
