#{extends 'main.html' /}

<h2>Detail Activiteit</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			Beschrijving:
		</span>
		<span class="value">
      ${entity.beschrijving}
		</span>
	</div>


	<div class="row">
		<span class="elem">
			Datum:
		</span>
		<span class="value">
      ${entity.activityDate}
		</span>
	</div>


	<div class="row">
		<span class="elem">
			Duurtijd (minuten):
		</span>
		<span class="value">
      ${entity.duur}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Ge&euml;valueerd:
		</span>
		<span class="value">
      ${entity.evaluvated}
		</span>
		#{if entity.evaluvated}
			#{list items:aes, as:'ae'}
			<BR><span class="elem"$>Eval Type </span>: ${ae.evalTypeId}
			<BR><span class="elem"$>Evaluvators </span>${ae.evaluvatorsId}
			#{/list}
		#{/if}
	</div>
	
	<div class="row">
		<span class="elem">
			Items:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:iia, as:'ia'}
			<span class="elem">${ia.itemId} </span>
			
			#{/list}
		</li>
		</ul>
		</span>
	</div>
	
	<div class="row">
		<span class="elem">
			Materials:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:mia, as:'ia'}
			<span class="elem">${ia.materialId} </span>
			
			#{/list}
		</li>
		</ul>
		</span>
	</div>
  
  <div class="row">
		<span class="elem">
			Sectors:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:asc, as:'ia'}
     		#{if ia.sectorId.ouder!=null} 
     		<span class="elem">${ia.sectorId.ouder} </span>
     		#{/if}
     		<ul><li>
			<span class="elem">${ia.sectorId} </span>
			</li></ul>
			#{/list}
		</li>
		</ul>
		</span>
	</div>
	
	 <div class="row">
		<span class="elem">
			Activity Type:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:atj, as:'ia'}
     		#{if ia.activityTypeId.ouder!=null} 
     		<span class="elem">${ia.activityTypeId.ouder} </span>
     		#{/if}
     		<ul><li>
			<span class="elem">${ia.activityTypeId} </span>
			</li></ul>
			#{/list}
		</li>
		</ul>
		</span>
	</div>

  
	<div class="row">
		<span class="elem">
			Interne Activiteit:
		</span>
		<span class="value">
      ${entity.internalActivity}
		</span>
		
	</div>
  

  
	<div class="row">
		<span class="elem">
			?reported?:
		</span>
		<span class="value">
      ${entity.reported}
		</span>
		
	</div>
  
  <div class="row">
  <span class="elem">
  Activity Target
  <span class="value">
		<ul>
		<li>
     		#{list items:ats, as:'ia'}
     		<ul><li>
			<span class="elem">${ia.attendantTypeId.targetTypeId} </span> :${ia.attendantTypeId} 
			</li></ul>
			#{/list}
		</li>
		</ul>
		</span>
  </span>
  </div>

  
	<div class="row">
		<span class="elem">
			Aantal deelnemers:
		</span>
		<span class="value">
      ${entity.totalParticipants}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Georganiseerd door:
		</span>
		<span class="value">
      ${entity.organizationId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Locatie:
		</span>
		<span class="value">
      ${entity.locationId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Verantwoordelijke:
		</span>
		<span class="value">
      ${entity.userId}
		</span>
	</div>
  

</div>

