#{extends 'main.html' /}
<div class="show">
<h2>Detail Activiteit</h2>

<div class="entity">


	<div class="row">
		<span class="elem">
			<div class="floater"><a href="@{Activities.copy(entity.id)}">Kopi&euml;er<br />deze activiteit</a></div>
		</span>
	</div>

  
	<div class="row">
		<span class="elem">
			Beschrijving:
		</span>
		<span class="value">
      ${entity.beschrijving}
		</span>
	</div>


	<div class="row">
		<span class="elem">
			Datum:
		</span>
		<span class="value">
		#{if entity.activityDate!=null}
      ${entity.activityDate.format('dd MMMM yyyy', 'nl')}
      #{/if}
		</span>
	</div>


	<div class="row">
		<span class="elem">
			Duurtijd (minuten):
		</span>
		<span class="value">
      ${entity.duur}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Ge&euml;valueerd:
		</span>
		<span class="value">
      ${entity.evaluvated}
		#{if entity.evaluvated}
      <ul>
			#{list items:aes, as:'ae'}
			<li><span class="value"$>Type evaluatie: </span>${ae.evalTypeId}
			<BR><span class="value"$>Evaluvators: </span>${ae.evaluvatorsId}</li>
			#{/list}
      </ul>
		#{/if}
		</span>
	</div>
	
	<div class="row">
		<span class="elem">
			Items:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:iia, as:'ia'}
			<span class="value">${ia.itemId} </span>
			
			#{/list}
		</li>
		</ul>
		</span>
	</div>
	
	<div class="row">
		<span class="elem">
			Materialen:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:mia, as:'ia'}
			<span class="value">${ia.materialId} </span>
			
			#{/list}
		</li>
		</ul>
		</span>
	</div>
  
  <div class="row">
		<span class="elem">
			Sectoren:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:sajs, as:'ia'}
     		#{if ia.sectorId.ouder!=null} 
     		<span class="value">${ia.sectorId.ouder} </span>
     		
     		<ul><li>
			<span class="value">${ia.sectorId} </span>
			</li></ul>
			#{/if}
			#{else}
				
			<span class="value">${ia.sectorId} </span>
			
			#{/else}
			#{/list}
		</li>
		Targets:
		<li>
     		#{list items:asc, as:'ia'}
     		#{if ia.sectorId.ouder!=null} 
     		<span class="value">${ia.sectorId.ouder} </span>
     		#{/if}
     		<ul><li>
			<span class="value">${ia.sectorId} </span>
			</li></ul>
			#{/list}
		</li>
		</ul>
		</span>
	</div>
	
	 <div class="row">
		<span class="elem">
			Type activiteit:
		</span>
		<span class="value">
		<ul>
		<li>
     		#{list items:atj, as:'ia'}
     		#{if ia.activityTypeId.ouder!=null} 
     		<span class="value">${ia.activityTypeId.ouder} </span>
     		#{/if}
     		<ul><li>
			<span class="value">${ia.activityTypeId} </span>
			</li></ul>
			#{/list}
		</li>
		</ul>
		</span>
	</div>

  
	<div class="row">
		<span class="elem">
			Interne Activiteit:
		</span>
		<span class="value">
      ${entity.internalActivity}
		</span>
		
	</div>
  

  
	<div class="row">
		<span class="elem">
			Gerapporteerd:
		</span>
		<span class="value">
      ${entity.reported}
		</span>
		
	</div>


  <div class="row">
  <span class="elem">
  Doelgroep
  </span>
  <span class="value">
		<ul>
     	#{list items:ats, as:'ia'}
      <li>
			<span class="value">${ia.attendantTypeId.targetTypeId} </span> :${ia.attendantTypeId}
			</li>
			#{/list}
		</ul>
	</span>
  </div>

  
	<div class="row">
		<span class="elem">
			Aantal deelnemers:
		</span>
		<span class="value">
      ${entity.totalParticipants}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Georganiseerd door:
		</span>
		<span class="value">
      ${entity.organizationId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Locatie:
		</span>
		<span class="value">
      ${entity.locationId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			Verantwoordelijke:
		</span>
		<span class="value">
      ${entity.userId}
		</span>
	</div>


	<div class="row">
		<span class="elem">
			<div class="floater"><a href="@{Activities.copy(entity.id)}">Kopi&euml;er<br />deze activiteit</a></div>
		</span>
	</div>
  

</div>
</div>
