
 <div class="row">
  <div class="label">Activity Id</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.activityId.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Activity.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.activityId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.activityId')}</span>
</div>


 <div class="row">
  <div class="label">Eval Type Id</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.evalTypeId.id">
              
                      <option value="">(None)</option>              
              
        %{ models.EvaluvationType.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.evalTypeId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.evalTypeId')}</span>
</div>


 <div class="row">
  <div class="label">Evaluvators Id</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.evaluvatorsId.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Evaluvators.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.evaluvatorsId?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.evaluvatorsId')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


