#{extends 'main.html' /}

<h2>Deelnemer Types</h2>

<table id="mytable" class="entity AttendantType">
	<thead>
		<tr>
				<th>Naam</th>
				<th>Beschrijving</th>
				<th>Target Type Id</th>
			  <th><!-- actions --></th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
					<td>${entity.naam}</td>
					<td>${entity.beschrijving}</td>
					<td>${entity.targetTypeId}</td>
          <td>
            <table class="actiontable"><tr>
              <td><a href="@{AttendantTypes.show(entity.id)}"><div class="viewer actionbutton"></div></a></td>
              <td><a href="@{AttendantTypes.edit(entity.id)}"><div class="editor actionbutton"></div></a></td>
              <td><a href="@{AttendantTypes.delete(entity.id)}" onclick="if (!confirm('Ben je zeker dat je dit object will verwijderen?')) return false;"><div class="deleter actionbutton"></div></a></td>
            </tr></table>
          </td>
		</tr>
	#{/list}
	</tbody>
</table>
