#{extends 'main.html' /}

<h2>View AttendantType</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			targetTypeId:
		</span>
		<span class="value">
      ${entity.targetTypeId}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			naam:
		</span>
		<span class="value">
      ${entity.naam}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			beschrijving:
		</span>
		<span class="value">
      ${entity.beschrijving}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{AttendantTypes.index}">Terug</a>

