sectors_file=/home/krishna/data_ginger/sectors.txt
locations_file=/home/krishna/data_ginger/locations1.txt
postcodes_file=/home/krishna/data_ginger/postcodes.txt
#cluster_file=/home/krishna/data_ginger/ginger_clusters_export_tsv.txt
cluster_file=/home/krishna/data_ginger/new_data/clusters_20111010.txt
activity_type_file=/home/krishna/data_ginger/activity_type.txt
/home/krishna/data_ginger/new_data/activities_20111010.txt
materials_file=/home/krishna/data_ginger/materials.txt
items_file=/home/krishna/data_ginger/items.txt
attendant_type_file=/home/krishna/data_ginger/attendant_type.txt
organization_file=/home/krishna/data_ginger/new_data/organisaties_20111010.txt
#organization_file=/home/krishna/data_ginger/ginger_organisaties_export_tsv.txt
sub_organization_file=/home/krishna/data_ginger/new_data/sub_organisaties_20111010.txt
#sub_organization_file=/home/krishna/data_ginger/ginger_suborganisaties_export_tsv.txt
#activity_file=/home/krishna/data_ginger/ginger_activiteit_export_tsv.txt
activity_file=/home/krishna/data_ginger/new_data/activities_20111010.txt
user_id_file=/home/krishna/data_ginger/new_data/users_20111010.txt
role_id_file=/home/krishna/data_ginger/new_data/roles_20111010.txt
user_roles_file=/home/krishna/data_ginger/new_data/users_in_roles_20111010.txt
db_name=test14