
 <div class="row">
  <div class="label">Role Name</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.roleName" value="${entity?.roleName}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.roleName')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


